@{ Layout = null; }

<style>
    .cssbuttons-io-button {
        background: #337ab7;
        color: white;
        font-family: inherit;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #714da6;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
        cursor: pointer;
    }

        .cssbuttons-io-button .icon {
            background: white;
            margin-left: 1em;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.2em;
            width: 2.2em;
            border-radius: 0.7em;
            box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
            right: 0.3em;
            transition: all 0.3s;
        }

        .cssbuttons-io-button:hover .icon {
            width: calc(100% - 0.6em);
        }

        .cssbuttons-io-button .icon svg {
            width: 1.1em;
            transition: transform 0.3s;
            color: #7b52b9;
        }

        .cssbuttons-io-button:hover .icon svg {
            transform: translateX(0.1em);
        }

        .cssbuttons-io-button:active .icon {
            transform: scale(0.95);
        }

    ul.nav li {
        margin-right: 220px;
    }


</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar-right > li > a {
            font-size: 18px;
            background-color: #ffd800; 
            padding: 50px 70px;
            border-radius: 5px;
            color: #fff;
        }

            .navbar-right > li > a:hover,
            .navbar-right > li > a:focus {
                color: #337ab7;
                background-color: transparent; 
            }

        .nav {
  padding-left: 0; // Override default ul/ol
  margin-bottom: 0;
  list-style: none;
  &:extend(.clearfix all);
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Portfolyo/Portfolyo/">Portfolyo</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Deneyim", "Deneyim")">Deneyimlerim</a></li>
                <li><a href="@Url.Action("Egitim", "Egitim")">Eğitimlerim</a></li>
                <li><a href="@Url.Action("Yetenek", "Yetenekler")">Yetenekler</a></li>
                <li><a href="@Url.Action("IlgiAlanlari", "IlgiAlanlari")">İlgi Alanlarım</a></li>
                <li><a href="@Url.Action("Sertifika", "Sertifika")">Sertifikalarım</a></li>
            </ul>
            <a href="@Url.Action("AnasayfaOgrenci", "Giris")" class="cssbuttons-io-button">
                Anasayfa
                <div class="icon">
                    <svg height="24"
                         width="24"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                              fill="currentColor"></path>
                    </svg>
                </div>
            </a>

        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
