@model Deneme.Models.Sertifika
@{

    Layout = "~/Views/Shared/_Portfolyo.cshtml";
}

<h2>Sertifikalar</h2>
<div>
    @using (Html.BeginForm("SertifikaEkle", "Sertifika", FormMethod.Post, new { id = "SertifikaEkleForm" }))
    {
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.SertifikaAdi,"Sertifika Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SertifikaAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SertifikaAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SertifikaAciklamasi,"Sertifika Açıklaması", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SertifikaAciklamasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SertifikaAciklamasi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sertifika Ekle" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
